html, body {
	margin: 0;
	height: 100%;
}

#desktop {
	user-select: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #bde0fa;
	background-size: cover;
	background-image: url('../assets/wallpaper.svg');
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

#wrap {
	height: 100%;
	overflow: hidden; /* solves the tricky padding */
}

#editor {
	box-sizing: border-box;
	height: 100%;
	padding: 10px; /* this padding is tricky, it pushes out content outside of client-area when minimized */
	font-family: monospace;
	white-space: pre-wrap;
	overflow: auto;
	outline: none;
}

.open-window-shortcut {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	width: 150px;
	height: 85px;
	margin: 40px 20px;
	user-select: none;
}

.open-window-shortcut::before {
	content: '📄';
	font-size: 200%;
	display: block;
	margin-bottom: 5px;
}
